server:
  port: 8080

node:
  id: node-1
  peers: []

storage:
  location: ./storage

spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    root: INFO
    com.example.dfs: DEBUG
